.input_show_text {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.input_show_text .title {
  display: flex;
  align-items: flex-start;
}
.input_show_text .title div {
  font-size: 14px;
  margin-right: 5px;
}
.input_show_text .title img {
  cursor: pointer;
}
.input_show_text .value {
  margin-left: 10px;
  font-family: Roboto Bold;
  margin-top: 10px;
  height: 20px;
  border-bottom: 1px solid #66a9b6;
}

/*# sourceMappingURL=style.css.map */
