@import '../../../../style/variables';
.input_show_text {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  .title {
    display: flex;
    align-items: flex-start;
    div {
      font-size: 14px;
      margin-right: 5px;
    }
    img {
      cursor: pointer;
    }
  }
  .value {
    margin-left: 10px;
    font-family: Roboto Bold;
    margin-top: 10px;
    height: 20px;
    border-bottom: 1px solid $light_blue3;
  }
}
