.textarea {
  display: flex;
  flex-direction: column;
  width: 600px;
}
.textarea textarea {
  height: 300px;
  border: 1px solid #304455;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Roboto;
  color: #304455;
  background: #F8F9FA;
  resize: none;
}

/*# sourceMappingURL=style.css.map */
