@import '../../../style/variables';
.textarea {
  display: flex;
  flex-direction: column;
  width: 600px;
  textarea {
    height: 300px;
    border: 1px solid $dark_blue;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Roboto;
    color: $dark_blue;
    background: $white2;
    resize: none;
  }
}
