@import '../../style/variables';
.btn {
  font-family: Roboto Medium;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  &.dark {
    background: none;
    color: $blue3;
    border: 1px solid $blue3;
    transition: all 0.3s ease;
    &:hover {
      background: $blue3;
      color: $white;
      .path {
        stroke: $white;
      }
    }
    .path {
      stroke: $blue3;
    }
  }
  &.light {
    background: none;
    color: $white;
    border: 1px solid $light_blue1;
    transition: all 0.3s ease;
    &:hover {
      background: $light_blue1;
      color: $blue2;
      .path {
        stroke: $blue3;
      }
    }
    .path {
      stroke: $white;
    }
  }
  &.red {
    background: none;
    color: $red;
    border: 1px solid $red;
    transition: all 0.3s ease;
    &:hover {
      background: $red;
      color: $white;
      .path {
        stroke: $white;
      }
    }
    .path {
      stroke: $red;
    }
  }
  &.green {
    background: none;
    color: $green;
    border: 1px solid $green;
    transition: all 0.3s ease;
    &:hover {
      background: $green;
      color: $white;
      .path {
        stroke: $white;
      }
    }
    .path {
      stroke: $green;
    }
  }
  .spinner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    svg {
      animation: rotate 1.8s linear infinite;
      width: 30px;
      height: 30px;
      .path {
        stroke-linecap: round;
        animation: dash 1.3s ease-in-out infinite;
      }
    }
    @keyframes rotate {
      100% {
        transform: rotate(360deg);
      }
    }
    @keyframes dash {
      0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
      }
      50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
      }
      100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
      }
    }
  }
}

