.btn {
  font-family: Roboto Medium;
  font-size: 14px;
  letter-spacing: 0.5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn.dark {
  background: none;
  color: #006B80;
  border: 1px solid #006B80;
  transition: all 0.3s ease;
}
.btn.dark:hover {
  background: #006B80;
  color: #ffffff;
}
.btn.dark:hover .path {
  stroke: #ffffff;
}
.btn.dark .path {
  stroke: #006B80;
}
.btn.light {
  background: none;
  color: #ffffff;
  border: 1px solid #bfdbe1;
  transition: all 0.3s ease;
}
.btn.light:hover {
  background: #bfdbe1;
  color: #007086;
}
.btn.light:hover .path {
  stroke: #006B80;
}
.btn.light .path {
  stroke: #ffffff;
}
.btn.red {
  background: none;
  color: #f76b5d;
  border: 1px solid #f76b5d;
  transition: all 0.3s ease;
}
.btn.red:hover {
  background: #f76b5d;
  color: #ffffff;
}
.btn.red:hover .path {
  stroke: #ffffff;
}
.btn.red .path {
  stroke: #f76b5d;
}
.btn .spinner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.btn .spinner svg {
  animation: rotate 1.8s linear infinite;
  width: 30px;
  height: 30px;
}
.btn .spinner svg .path {
  stroke-linecap: round;
  animation: dash 1.3s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/*# sourceMappingURL=style.css.map */
