$white: #ffffff;
$white2: #F8F9FA;
$grey: #c4c4c4;
$light_blue1: #bfdbe1;
$light_blue2: #80b7c3;
$light_blue3: #66a9b6;
$light_blue4: #4d9baa;
$blue1: #268598;
$blue2: #007086;
$blue3: #006B80;
$dark_blue: #304455;
$red: #f76b5d;
$yellow: #e7cc41;
$green: #64BF7A;
