@import '../../style/variables';
.menu {
  height: calc(100% - 60px);
  width: 250px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-right: 2px solid $grey;
  position: fixed;
  background: $white2;
  overflow-y: auto;
    .block {
      &:first-child {
        margin-top: 0;
      }
      margin-top: 30px;
      .my_header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
        width: 208px;
        font-family: Roboto Bold;
        font-size: 18px;
        color: $blue1;
        .container {
          max-width: 185px;
          display: flex;
        }
        img {
          margin-left: 5px;
          margin-right: 10px;
        }
        &:after {
          content: "";
          position: absolute;
          width: 100%;
          height: 1px;
          background: $light_blue4;
          bottom: -5px;
        }
      }
      .rows {
        margin-top: 11px;
        .row {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          max-width: 210px;
          margin-top: 5px;
          .number {
            width: 20px;
            color: $blue1;
          }
          .name {
            color: $dark_blue;
            margin-left: 5px;
            width: 185px;

          }
          &:hover {
            .name {
              color: $blue1;
            }
          }
        }
      }
    }
    .my_subs {
      margin-bottom: 50px;
      .container {
        img {
          margin-left: 0;
          margin-right: 7px;
        }
      }
    }
}
