.menu {
  height: calc(100% - 60px);
  width: 250px;
  padding-left: 15px;
  padding-right: 25px;
  padding-top: 30px;
  padding-bottom: 5px;
  box-sizing: border-box;
  border-right: 2px solid #c4c4c4;
  position: fixed;
  background: #F8F9FA;
  overflow-y: auto;
}
.menu .block {
  margin-top: 30px;
}
.menu .block:first-child {
  margin-top: 0;
}
.menu .block .my_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  width: 208px;
  font-family: Roboto Bold;
  font-size: 18px;
  color: #268598;
}
.menu .block .my_header .container {
  max-width: 185px;
  display: flex;
}
.menu .block .my_header img {
  margin-left: 5px;
  margin-right: 10px;
}
.menu .block .my_header:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #4d9baa;
  bottom: -5px;
}
.menu .block .rows {
  margin-top: 11px;
}
.menu .block .rows .row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 210px;
  margin-top: 5px;
}
.menu .block .rows .row .number {
  width: 20px;
  color: #268598;
}
.menu .block .rows .row .name {
  color: #304455;
  margin-left: 5px;
  width: 185px;
}
.menu .block .rows .row:hover .name {
  color: #268598;
}
.menu .my_subs {
  margin-bottom: 50px;
}
.menu .my_subs .container img {
  margin-left: 0;
  margin-right: 7px;
}

/*# sourceMappingURL=style.css.map */
