@import '../../../style/variables';
.checkbox {
  margin-bottom: 25px;
  width: 250px;
  display: flex;
  align-items: flex-start;
  label {
    position: relative;
    margin-left: 10px;
    cursor: pointer;
    width: 100%;
  }
  input[type="checkbox"] {
    margin-left: 2px;
    margin-top: 1px;
    & ~ label:before {
      content: "";
      background: $white2;
      border:1px solid $dark_blue;
      border-radius: 3px;
      position: absolute;
      left: -27px;
      top: 0px;
      height: 16px;
      width: 16px;
      cursor: pointer;
    }
    &:checked {
      & ~ label:after {
        content: "";
        background-image: url("./tick.svg");
        //background-size: 16px 16px;
        position: absolute;
        left: -26px;
        top: 1px;
        height: 15.75px;
        width: 17px;
        cursor: pointer;
      }
    }
  }
}
