.checkbox {
  margin-bottom: 25px;
  width: 250px;
  display: flex;
  align-items: flex-start;
}
.checkbox label {
  position: relative;
  margin-left: 10px;
  cursor: pointer;
  width: 100%;
}
.checkbox input[type=checkbox] {
  margin-left: 2px;
  margin-top: 1px;
}
.checkbox input[type=checkbox] ~ label:before {
  content: "";
  background: #F8F9FA;
  border: 1px solid #304455;
  border-radius: 3px;
  position: absolute;
  left: -27px;
  top: 0px;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.checkbox input[type=checkbox]:checked ~ label:after {
  content: "";
  background-image: url("./tick.svg");
  position: absolute;
  left: -26px;
  top: 1px;
  height: 15.75px;
  width: 17px;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
