.model {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
}
.model.error {
  flex-direction: column;
}
.model.error img {
  width: 400px;
  margin-bottom: 30px;
}
.model .content {
  width: 100%;
  height: 100%;
  color: #304455;
  display: flex;
  flex-direction: column;
}
.model .content .info {
  max-width: 1300px;
  display: grid;
  grid-template-columns: minmax(100px, 500px) 1fr 1fr;
  margin-bottom: 20px;
}
.model .content .info .name {
  font-family: Roboto Bold;
  font-size: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.model .content .info .container {
  display: flex;
  flex-direction: row;
}
.model .content .info .container .subscribe {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  width: 23px;
  height: 23px;
  border: none;
}
.model .content .info .container .subscribe img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.model .content .info .container .tags {
  display: flex;
  align-items: center;
}
.model .content .info .container .tags img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.model .content .info .container .tags .tag {
  margin-right: 5px;
  background: rgba(194, 195, 197, 0.5);
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
}
.model .main {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.model .main .left {
  width: 100%;
  max-width: 900px;
  padding-right: 20px;
  box-sizing: border-box;
}
.model .main .left .nav .nav_btn {
  font-family: Roboto Medium;
  font-size: 18px;
  color: #4d9baa;
  background: none;
  border: none;
  padding: 0;
  margin-right: 20px;
  position: relative;
}
.model .main .left .nav .nav_btn:hover {
  color: #304455;
}
.model .main .left .nav .nav_btn.selected {
  color: #304455;
}
.model .main .left .nav .nav_btn.selected:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #304455;
  left: 0;
  bottom: -1px;
}
.model .main .left .value {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.model .main .left .value .description {
  box-sizing: border-box;
  margin-bottom: 30px;
  background: #ffffff;
}
.model .main .left .value .description .tui-editor-contents {
  font-size: 15px;
}
.model .main .left .value .description .te-toolbar-section {
  display: none;
}
.model .main .left .value .description .te-editor {
  display: none;
}
.model .main .left .value .description .te-preview {
  width: 100%;
}
.model .main .left .value .description .te-md-splitter {
  display: none;
}
.model .main .history {
  height: 100%;
  min-height: calc(100vh - 134px);
  min-width: 320px;
  padding-left: 20px;
  padding-top: 43px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
}
.model .main .history:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -1px;
  height: calc(100% - 60px);
  width: 2px;
  background: #c4c4c4;
}
.model .main .history .history_header {
  font-family: Roboto Medium;
  font-size: 18px;
  margin-bottom: 20px;
}
.model .main .history .error_history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.model .main .history .error_history img {
  width: 250px;
  margin-bottom: 30px;
}
.model .main .history .rows {
  display: flex;
  flex-direction: column;
}
.model .main .history .rows .row {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}
.model .main .history .rows .row .link {
  color: #304455;
}
.model .main .history .rows .row .link .row_model_name {
  width: 227px;
  margin-right: 10px;
  word-wrap: break-word;
}
.model .main .history .rows .row .link:hover {
  color: #268598;
}
.model .main .history .rows .row .row_model_date {
  width: 90px;
}
.model .main .history .rows .row .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.model .main .history .rows .row .spinner .path {
  stroke: #006B80;
}
.model .main .history .rows .row .spinner svg {
  animation: rotate 1.8s linear infinite;
  width: 25px;
  height: 25px;
}
.model .main .history .rows .row .spinner svg .path {
  stroke-linecap: round;
  animation: dash 1.3s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.model .loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}

/*# sourceMappingURL=style.css.map */
