.search {
  position: relative;
}
.search input {
  width: 300px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  background: none;
  padding-right: 30px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Roboto;
  font-size: 17px;
}
.search input:focus {
  border-color: #80b7c3;
}
.search .searchImg {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
}
.search .searchResult {
  box-sizing: border-box;
  position: absolute;
  width: 400px;
  max-height: 420px;
  background-color: #F8F9FA;
  border: 1px solid #304455;
  top: 50px;
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
}
.search .searchResult.hidden {
  display: none;
}
.search .searchResult .triangle {
  display: contents;
  background: #F8F9FA;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  color: #F8F9FA;
}
.search .searchResult .triangle::after {
  content: "";
  position: absolute;
  left: 16px;
  top: -19px;
  border: 10px solid transparent;
  border-bottom: 10px solid #F8F9FA;
}
.search .searchResult .triangle::before {
  content: "";
  position: absolute;
  left: 16px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom: 10px solid #000;
}
.search .searchResult .half {
  max-height: 50%;
}
.search .searchResult .half h3 {
  display: inline-block;
  height: 10%;
  font-size: 15px;
  margin: 0 0 5px 0;
}
.search .searchResult .half .button {
  display: inline-block;
  cursor: pointer;
  float: right;
}
.search .searchResult .half.ds {
  margin-top: 15px;
}
.search .searchResult .half .row {
  height: 54px;
  border-top: 1px solid #c4c4c4;
}
.search .searchResult .half .row:last-child {
  border-bottom: 1px solid #c4c4c4;
}
.search .searchResult .half .row:hover {
  background: rgba(196, 196, 196, 0.2);
}
.search .searchResult .half .row.empty {
  text-align: center;
  line-height: 50px;
  font-weight: 700;
  font-size: 17px;
  color: #304455;
  height: 50px;
}
.search .searchResult .half .row .top {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 5px 5px;
}
.search .searchResult .half .row .top .link {
  color: #304455;
}
.search .searchResult .half .row .top .link .object_name {
  font-weight: 700;
  font-size: 17px;
  color: #304455;
}
.search .searchResult .half .row .top .billing {
  display: flex;
  align-items: center;
  height: 19px;
}
.search .searchResult .half .row .top .billing img {
  height: 19px;
}
.search .searchResult .half .row .top .billing .money {
  font-family: Roboto Medium;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 10px;
}
.search .searchResult .half .row .bottom {
  display: flex;
  margin: 0 0 5px 5px;
}
.search .searchResult .half .row .bottom .owner {
  display: flex;
  align-items: center;
}
.search .searchResult .half .row .bottom .owner .name {
  font-size: 15px;
  margin-left: 5px;
  margin-right: 20px;
}
.search .searchResult .half .row .bottom .owner img {
  height: 18px;
}

/*# sourceMappingURL=style.css.map */
