@import '../../../style/_variables.scss';
.search {
  position: relative;
  input {
    width: 300px;
    height: 30px;
    border: 1px solid $white;
    border-radius: 3px;
    background: none;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-sizing: border-box;
    color: $white;
    font-family: Roboto;
    font-size: 17px;
    &:focus {
      border-color: $light_blue2;
    }
  }
  .searchImg {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
  }

  .searchResult {
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    max-height: 420px;
    background-color: $white2;
    border: 1px solid $dark_blue;
    top: 50px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);

    &.hidden {
      display: none;
    }

    .triangle {
      display: contents;
      background: $white2;
      border-radius: 10px;
      padding: 20px;
      position: relative;
      color: $white2;
    }

    .triangle::after {
      content: '';
      position: absolute;
      left: 16px; top: -19px;
      border: 10px solid transparent;
      border-bottom: 10px solid $white2;
    }

    .triangle::before {
      content: '';
      position: absolute;
      left: 16px; top: -20px;
      border: 10px solid transparent;
      border-bottom: 10px solid #000;
    }

    .half {
      max-height: 50%;

      h3 {
        display: inline-block;
        height: 10%;
        font-size: 15px;
        margin: 0 0 5px 0;
      }

      .button {
        display: inline-block;
        cursor: pointer;
        float: right;
      }



      &.ds {
        margin-top: 15px;
      }

      .row {
        height: 54px;
        border-top: 1px solid $grey;

        &:last-child {
          border-bottom: 1px solid $grey;

        }

        &:hover {
          background: rgba(196, 196, 196, 0.2);
        }

        &.empty {
          text-align: center;
          line-height: 50px;
          font-weight: 700;
          font-size: 17px;
          color: $dark_blue;
          height: 50px;
        }

        .top {
          display: flex;
          justify-content: space-between;
          margin: 5px 0 5px 5px;
          .link {
            color: $dark_blue;
            .object_name {
              font-weight: 700;
              font-size: 17px;
              color: $dark_blue;
            }
          }
          .billing {
            display: flex;
            align-items: center;
            height: 19px;
            img {
              height: 19px;
            }
            .money {
              font-family: Roboto Medium;
              font-size: 18px;
              margin-left: 5px;
              margin-right: 10px;
            }
          }
        }
        .bottom {
          display: flex;
          margin: 0 0 5px 5px;
          .owner {
            display: flex;
            align-items: center;
            .name {
              font-size: 15px;
              margin-left: 5px;
              margin-right: 20px;
            }
            img {
              height: 18px;
            }
          }
        }
      }
    }
  }
}
