@import '../../style/variables';
@import '../../style/fonts';
.auth {
  background: $blue2;
  color: $white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  .content {
    width: 660px;
    margin-bottom: 30px;
    .logo {
      color: $light_blue1;
      font-family: Montserrat Bold;
      font-size: 40px;
    }
    .forms {
      border: 1px solid $light_blue1;
      border-radius: 3px;
      height: 500px;
      display: flex;
      .authorization, .registration {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
        box-sizing: border-box;
        .form_name {
          font-family: Roboto Medium;
          font-size: 18px;
        }
        .fields {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .btn {
            margin-top: 5px;
          }
        }
      }
      .authorization{
        border-right: 1px solid $light_blue1;
      }
      .registration {

      }
    }
  }
}
