@font-face {
  font-family: Montserrat Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
.auth {
  background: #007086;
  color: #ffffff;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.auth .content {
  width: 660px;
  margin-bottom: 30px;
}
.auth .content .logo {
  color: #bfdbe1;
  font-family: Montserrat Bold;
  font-size: 40px;
}
.auth .content .forms {
  border: 1px solid #bfdbe1;
  border-radius: 3px;
  height: 500px;
  display: flex;
}
.auth .content .forms .authorization, .auth .content .forms .registration {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  box-sizing: border-box;
}
.auth .content .forms .authorization .form_name, .auth .content .forms .registration .form_name {
  font-family: Roboto Medium;
  font-size: 18px;
}
.auth .content .forms .authorization .fields, .auth .content .forms .registration .fields {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth .content .forms .authorization .fields .btn, .auth .content .forms .registration .fields .btn {
  margin-top: 5px;
}
.auth .content .forms .authorization {
  border-right: 1px solid #bfdbe1;
}

/*# sourceMappingURL=style.css.map */
