.radio {
  display: flex;
  align-items: flex-start;
}
.radio label {
  width: 225px;
  margin-left: 25px;
  position: relative;
  cursor: pointer;
}
.radio input {
  display: none;
}
.radio input ~ label:before {
  content: "";
  position: absolute;
  left: -25px;
  top: 0;
  height: 18px;
  width: 18px;
  border-radius: 100%;
  border: 1px solid #304455;
  cursor: pointer;
  background: #ffffff;
}
.radio input:checked {
  border: 4px solid yellow;
}
.radio input:checked ~ label:after {
  content: "";
  position: absolute;
  left: -23px;
  top: 2px;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #268598;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
