@import '../../../style/variables';
.radio {
  display: flex;
  align-items: flex-start;
  label {
    width: 225px;
    margin-left: 25px;
    position: relative;
    cursor: pointer;
  }
  input {
    display: none;
    & ~ label:before {
      content: "";
      position: absolute;
      left: -25px;
      top: 0;
      height: 18px;
      width: 18px;
      border-radius: 100%;
      border: 1px solid $dark_blue;
      cursor: pointer;
      background: $white;
    }
    &:checked {
      border: 4px solid yellow;
      & ~ label:after {
        content: "";
        position: absolute;
        left: -23px;
        top: 2px;
        height: 16px;
        width: 16px;
        border-radius: 100%;
        background: $blue1;
        cursor: pointer;
      }
    }
  }
}
