@import '../../../style/variables';
.input_text {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  //width: 300px;
  &.light {
    .container {
      .text {
        color: $white;
      }
    }
    input {
      border: 1px solid $white2;
      color: $white;
      &::placeholder, &::-webkit-input-placeholder,
      &:-moz-placeholder, &::-moz-placeholder,
      &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $grey;
        opacity:  1;
      }
    }
  }
  &.dark {
    .container {
      .text {
        color: $dark_blue;
      }
    }
    input {
      border: 1px solid $dark_blue;
      color: $dark_blue;
      &::placeholder, &::-webkit-input-placeholder,
      &:-moz-placeholder, &::-moz-placeholder,
      &:-ms-input-placeholder, &::-ms-input-placeholder {
        color: $dark_blue;
        opacity:  1;
      }
    }
  }
  .container {
    display: flex;
    .text {
      box-sizing: border-box;
      max-width: 280px;
    }
    .circle {
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $red;
      margin-left: 5px;
      margin-top: 6px;
      margin-right: 5px;
    }
  }
  input {
    height: 30px;
    background: none;
    border-radius: 3px;
    box-sizing: border-box;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: inherit;
    font-size: inherit;
  }
}
input[type="number"] {
  -moz-appearance: textfield;
  &:hover, &:focus {
    //-moz-appearance: number-input;
  }
  &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

