.input_text {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.input_text.light .container .text {
  color: #ffffff;
}
.input_text.light input {
  border: 1px solid #F8F9FA;
  color: #ffffff;
}
.input_text.light input::placeholder, .input_text.light input::-webkit-input-placeholder, .input_text.light input:-moz-placeholder, .input_text.light input::-moz-placeholder, .input_text.light input:-ms-input-placeholder, .input_text.light input::-ms-input-placeholder {
  color: #c4c4c4;
  opacity: 1;
}
.input_text.dark .container .text {
  color: #304455;
}
.input_text.dark input {
  border: 1px solid #304455;
  color: #304455;
}
.input_text.dark input::placeholder, .input_text.dark input::-webkit-input-placeholder, .input_text.dark input:-moz-placeholder, .input_text.dark input::-moz-placeholder, .input_text.dark input:-ms-input-placeholder, .input_text.dark input::-ms-input-placeholder {
  color: #304455;
  opacity: 1;
}
.input_text .container {
  display: flex;
}
.input_text .container .text {
  box-sizing: border-box;
  max-width: 280px;
}
.input_text .container .circle {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: #f76b5d;
  margin-left: 5px;
  margin-top: 6px;
  margin-right: 5px;
}
.input_text input {
  height: 30px;
  background: none;
  border-radius: 3px;
  box-sizing: border-box;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-family: inherit;
  font-size: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
