.file {
  cursor: pointer;
  width: 300px;
  height: 30px;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  background: #F8F9FA;
  position: relative;
  margin-bottom: 25px;
  border: 1px solid #304455;
  border-radius: 3px;
}
.file:after {
  content: "";
  background: url("./clip.svg");
  position: absolute;
  right: 4px;
  top: 3px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}
.file .helper {
  position: absolute;
  left: 0;
  top: 0px;
  background: #F8F9FA;
  width: 290px;
  height: 26px;
}
.file .text {
  position: absolute;
  left: 10px;
  color: #304455;
  display: inline-block;
  width: 200px;
  height: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file .input {
  position: absolute;
  top: 0;
  left: 0;
  width: 298px;
  height: 28px;
  outline: none;
}

/*# sourceMappingURL=style.css.map */
