@import '../../../style/variables';
.file {
  cursor: pointer;
  width: 300px;
  height: 30px;
  display: inline-block;
  box-sizing: border-box;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  background: $white2;
  position: relative;
  margin-bottom: 25px;
  border: 1px solid $dark_blue;
  border-radius: 3px;
  //&:before {
  //  content: "";
  //  background: $grey_dark;
  //  position: absolute;
  //  right: 30px;
  //  top: 0;
  //  height: 26px;
  //  width: 2px;
  //  cursor: pointer;
  //}
  &:after {
    content: "";
    background: url("./clip.svg");
    position: absolute;
    right: 4px;
    top: 3px;
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
  .helper {
    position: absolute;
    left: 0;
    top: 0px;
    background: $white2;
    width: 290px;
    height: 26px;
  }
  .text {
    position: absolute;
    left: 10px;
    color: $dark_blue;
    display: inline-block;
    width: 200px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .input {
    position: absolute;
    top: 0;
    left: 0;
    width: 298px;
    height: 28px;
    outline: none;
  }
}
