.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background: #F8F9FA;
}
.app .app_container {
  height: 100vh;
  width: 100%;
  display: flex;
  overflow-y: auto;
  box-sizing: border-box;
}

/*# sourceMappingURL=App.css.map */
