@import 'style/variables';
@import 'style/fonts';
html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}
body {
  font-family: Roboto, 'Segoe UI', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue3;
}
button {
  cursor: pointer;
  &:active,
  &:focus {
    outline: none;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.link {
  text-decoration: none;
}
