@font-face {
  font-family: Montserrat Bold;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat SemiBold;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Roboto Bold;
  src: url("../fonts/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: Roboto Medium;
  src: url("../fonts/Roboto/Roboto-Medium.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}
html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

body {
  font-family: Roboto, "Segoe UI", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #006B80;
}

button {
  cursor: pointer;
}
button:active, button:focus {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.link {
  text-decoration: none;
}

/*# sourceMappingURL=index.css.map */
