.datasets {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 250px;
  padding: 30px;
}
.datasets.error {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.datasets.error img {
  width: 400px;
  margin-bottom: 30px;
}
.datasets .rows {
  max-width: 700px;
}
.datasets .rows .row {
  padding: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid #c4c4c4;
}
.datasets .rows .row:first-child {
  border-top: 1px solid #c4c4c4;
}
.datasets .rows .row:last-child {
  margin-bottom: 100px;
}
.datasets .rows .row:hover {
  background: rgba(196, 196, 196, 0.2);
}
.datasets .rows .row .top {
  display: flex;
  justify-content: space-between;
}
.datasets .rows .row .top .link {
  color: #304455;
}
.datasets .rows .row .top .link .dataset_name {
  font-family: Roboto Bold;
  font-size: 20px;
  width: 100%;
  margin-right: 20px;
}
.datasets .rows .row .top .billing {
  display: flex;
  align-items: center;
}
.datasets .rows .row .top .billing .money {
  font-family: Roboto Medium;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 10px;
}
.datasets .rows .row .bottom {
  display: flex;
  margin-top: 10px;
}
.datasets .rows .row .bottom .owner {
  display: flex;
  align-items: center;
}
.datasets .rows .row .bottom .owner .name {
  margin-left: 5px;
  margin-right: 20px;
}
.datasets .wrap {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.datasets .wrap .loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}

/*# sourceMappingURL=style.css.map */
