.header {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #006B80;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
}
.header .logo {
  font-family: Montserrat Bold;
  color: #bfdbe1;
  font-size: 25px;
  margin-right: 100px;
  text-decoration: none;
}
.header .nav {
  color: #ffffff;
  background: none;
  font-family: Roboto;
  border: none;
  font-size: 18px;
  height: 100%;
  padding: 0;
  position: relative;
}
.header .nav:hover, .header .nav :focus {
  color: #bfdbe1;
}
.header .nav:before {
  content: "";
  width: calc(100% + 10px);
  height: 60px;
  background: none;
  position: absolute;
  bottom: -20px;
  left: -5px;
}
.header .nav.selected {
  color: #bfdbe1;
}
.header .nav.selected:after {
  content: "";
  width: calc(100% + 10px);
  height: 4px;
  background: #bfdbe1;
  position: absolute;
  bottom: -20px;
  left: -5px;
}
.header .nav.add {
  margin-left: 10px;
  margin-right: 30px;
}
.header .btns {
  width: 100%;
  display: flex;
}
.header .group {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.header .group .search {
  margin-right: 30px;
}
.header .group .user {
  display: flex;
  align-items: center;
}
.header .group .user span {
  color: #ffffff;
  font-family: Roboto Bold;
  font-size: 18px;
  margin-left: 10px;
}
.header .group .user:hover span {
  color: #bfdbe1;
}
.header .group .user.selected span {
  color: #bfdbe1;
}

/*# sourceMappingURL=style.css.map */
