@import '../../style/variables';
//@import 'style/fonts';
.header {
  width: 100%;
  height: 60px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background: $blue3;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  .logo {
    font-family: Montserrat Bold;
    color: $light_blue1;
    font-size: 25px;
    margin-right: 100px;
    text-decoration: none;
  }
  .nav {
    color: $white;
    background: none;
    font-family: Roboto;
    border: none;
    font-size: 18px;
    height: 100%;
    padding: 0;
    position: relative;
    &:hover, :focus {
      color: $light_blue1;
    }
    &:before {
      content: "";
      width: calc(100% + 10px);
      height: 60px;
      background: none;
      position: absolute;
      bottom: -20px;
      left: -5px;
    }
    &.selected {
      color: $light_blue1;
      &:after {
        content: "";
        width: calc(100% + 10px);
        height: 4px;
        background: $light_blue1;
        position: absolute;
        bottom: -20px;
        left: -5px;
      }
    }
    &.add {
      margin-left: 10px;
      margin-right: 30px;
    }
  }
  .btns {
    width: 100%;
    display: flex;
  }
  .group {
    display: flex;
    align-items: center;
    margin-left: 10px;
    .search{
      margin-right: 30px;
    }
    .user {
      display: flex;
      align-items: center;
      span {
        color: $white;
        font-family: Roboto Bold;
        font-size: 18px;
        margin-left: 10px;
      }
      &:hover {
        span {
          color: $light_blue1;
        }
      }
      &.selected {
        span {
          color: $light_blue1;
        }
      }
    }
  }
}
