.dataset {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
}
.dataset.error {
  flex-direction: column;
}
.dataset.error img {
  width: 400px;
  margin-bottom: 30px;
}
.dataset .content {
  width: 100%;
  height: 100%;
  color: #304455;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.dataset .content .info {
  max-width: 1300px;
  display: grid;
  grid-template-columns: minmax(100px, 500px) 1fr 1fr;
  margin-bottom: 20px;
}
.dataset .content .info .name {
  font-family: Roboto Bold;
  font-size: 20px;
  box-sizing: border-box;
  word-wrap: break-word;
}
.dataset .content .info .container {
  display: flex;
  flex-direction: row;
}
.dataset .content .info .container .owner {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.dataset .content .info .container .owner img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.dataset .content .info .container .tags {
  display: flex;
  align-items: center;
}
.dataset .content .info .container .tags img {
  width: 23px;
  height: 23px;
  margin-right: 5px;
}
.dataset .content .info .container .tags .tag {
  margin-right: 5px;
  background: rgba(194, 195, 197, 0.5);
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-radius: 4px;
}
.dataset .main {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.dataset .main .left {
  width: 100%;
  max-width: 900px;
  padding-right: 20px;
  box-sizing: border-box;
}
.dataset .main .left .nav .nav_btn {
  font-family: Roboto Medium;
  font-size: 18px;
  color: #4d9baa;
  background: none;
  border: none;
  padding: 0;
  margin-right: 20px;
  position: relative;
}
.dataset .main .left .nav .nav_btn:hover {
  color: #304455;
}
.dataset .main .left .nav .nav_btn.selected {
  color: #304455;
}
.dataset .main .left .nav .nav_btn.selected:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: #304455;
  left: 0;
  bottom: -1px;
}
.dataset .main .left .value {
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.dataset .main .left .value .description {
  box-sizing: border-box;
  margin-bottom: 30px;
  background: #ffffff;
}
.dataset .main .left .value .description .tui-editor-contents {
  font-size: 15px;
}
.dataset .main .left .value .description .te-toolbar-section {
  display: none;
}
.dataset .main .left .value .description .te-editor {
  display: none;
}
.dataset .main .left .value .description .te-preview {
  width: 100%;
}
.dataset .main .left .value .description .te-md-splitter {
  display: none;
}
.dataset .main .left .value .current_models {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.dataset .main .left .value .current_models .rows {
  width: 100%;
  margin-top: 20px;
}
.dataset .main .left .value .current_models .rows .row {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  height: 60px;
  position: relative;
}
.dataset .main .left .value .current_models .rows .row:first-child:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  left: 0;
  top: 0;
}
.dataset .main .left .value .current_models .rows .row:hover {
  background: rgba(196, 196, 196, 0.2);
}
.dataset .main .left .value .current_models .rows .row:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: #c4c4c4;
  left: 0;
  bottom: 0;
}
.dataset .main .left .value .current_models .rows .row label div {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dataset .main .left .value .current_models .rows .row .desc {
  margin-left: 15px;
  height: 35px;
  font-size: 14px;
  color: #4d9baa;
  word-break: break-all;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.dataset .main .left .value .current_models .rows .row .desc:after {
  content: "";
  position: absolute;
  width: 40px;
  height: 16px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 5%, #F8F9FA 70%);
  bottom: 0;
  right: 0;
}
.dataset .main .left .value .current_models .rows .row .desc .te-preview {
  padding: 0;
  margin: 0;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-defaultUI {
  border: none;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents {
  padding: 0;
  line-height: 18px;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents * {
  display: inline;
  font-size: 14px;
  font-weight: normal;
  border: none;
  word-break: normal;
  color: #4d9baa;
  padding: 0;
  margin: 0;
  line-height: 110%;
  text-decoration: none;
  font-style: normal;
  font-family: Roboto;
  background: none;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents img {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents li:before {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents table {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents li {
  margin-left: 5px;
}
.dataset .main .left .value .current_models .rows .row .desc .tui-editor-contents br {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .te-toolbar-section {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .te-editor {
  display: none;
}
.dataset .main .left .value .current_models .rows .row .desc .te-preview {
  width: 100%;
  height: 35px;
}
.dataset .main .left .value .current_models .rows .row .desc .te-md-splitter {
  display: none;
}
.dataset .main .history {
  height: 100%;
  min-height: calc(100vh - 134px);
  min-width: 320px;
  padding-left: 20px;
  padding-top: 43px;
  box-sizing: border-box;
  position: relative;
  margin-bottom: 30px;
}
.dataset .main .history:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -1px;
  height: calc(100% - 60px);
  width: 2px;
  background: #c4c4c4;
}
.dataset .main .history .history_header {
  font-family: Roboto Medium;
  font-size: 18px;
  margin-bottom: 20px;
}
.dataset .main .history .error_history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dataset .main .history .error_history img {
  width: 250px;
  margin-bottom: 30px;
}
.dataset .main .history .rows {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}
.dataset .main .history .rows .row {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}
.dataset .main .history .rows .row .link {
  color: #304455;
}
.dataset .main .history .rows .row .link .row_model_name {
  width: 227px;
  margin-right: 10px;
  word-wrap: break-word;
}
.dataset .main .history .rows .row .link:hover {
  color: #268598;
}
.dataset .main .history .rows .row .row_model_date {
  width: 90px;
}
.dataset .main .history .rows .row .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.dataset .main .history .rows .row .spinner .path {
  stroke: #006B80;
}
.dataset .main .history .rows .row .spinner svg {
  animation: rotate 1.8s linear infinite;
  width: 25px;
  height: 25px;
}
.dataset .main .history .rows .row .spinner svg .path {
  stroke-linecap: round;
  animation: dash 1.3s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.dataset .loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}

/*# sourceMappingURL=style.css.map */
