.profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  color: #304455;
  padding: 30px;
}
.profile.error {
  flex-direction: column;
  justify-content: center;
}
.profile.error img {
  width: 400px;
  margin-bottom: 30px;
}
.profile .content {
  width: 100%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}
.profile .content .inputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile .content .inputs .info {
  margin-bottom: 55px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.profile .content .inputs .btns {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile .content .billing {
  margin-left: 70px;
  margin-right: 20px;
  min-width: 250px;
}
.profile .content .billing div {
  display: flex;
  align-items: center;
}
.profile .content .billing div img {
  margin-right: 5px;
}
.profile .content .history {
  height: 100%;
  min-width: 320px;
  padding-left: 20px;
  padding-top: 43px;
  box-sizing: border-box;
  position: relative;
}
.profile .content .history:before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: -1px;
  height: calc(100% - 60px);
  width: 2px;
  background: #c4c4c4;
}
.profile .content .history .history_header {
  font-family: Roboto Medium;
  font-size: 18px;
  margin-bottom: 20px;
}
.profile .content .history .error_history {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile .content .history .error_history img {
  width: 250px;
  margin-bottom: 30px;
}
.profile .content .history .rows {
  display: flex;
  flex-direction: column;
}
.profile .content .history .rows .row {
  display: flex;
  margin-bottom: 5px;
  position: relative;
}
.profile .content .history .rows .row .row_model_name {
  width: 227px;
  margin-right: 10px;
  word-wrap: break-word;
}
.profile .content .history .rows .row .row_model_date {
  width: 90px;
}
.profile .content .history .rows .row .spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.profile .content .history .rows .row .spinner .path {
  stroke: #006B80;
}
.profile .content .history .rows .row .spinner svg {
  animation: rotate 1.8s linear infinite;
  width: 25px;
  height: 25px;
}
.profile .content .history .rows .row .spinner svg .path {
  stroke-linecap: round;
  animation: dash 1.3s ease-in-out infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
.profile .loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}
@keyframes load5 {
  0%, 100% {
    box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.5), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.5), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.5), 2.5em 0em 0 0em rgba(77, 155, 170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.5), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.2), -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.5), 0em 2.5em 0 0em rgba(77, 155, 170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77, 155, 170, 0.2), -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.5), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(77, 155, 170, 0.2), 1.8em -1.8em 0 0em rgba(77, 155, 170, 0.2), 2.5em 0em 0 0em rgba(77, 155, 170, 0.2), 1.75em 1.75em 0 0em rgba(77, 155, 170, 0.2), 0em 2.5em 0 0em rgba(77, 155, 170, 0.2), -1.8em 1.8em 0 0em rgba(77, 155, 170, 0.5), -2.6em 0em 0 0em rgba(77, 155, 170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
  }
}

/*# sourceMappingURL=style.css.map */
