@import '../../style/variables';
.profile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  color: $dark_blue;
  padding: 30px;
  &.error {
    flex-direction: column;
    justify-content: center;
    img {
      width: 400px;
      margin-bottom: 30px;
    }
  }
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    .inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      .info {
        margin-bottom: 55px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .btns {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
    .billing {
      margin-left: 20px;
      margin-right: 20px;
      min-width: 150px;
      //display: flex;
      //align-items: flex-start;
      div {
        display: flex;
        align-items: center;
        img {
          margin-right: 5px;
        }
      }
    }
    .history {
      height: 100%;
      //width: 100%;
      min-height: calc(100vh - 134px);
      min-width: 450px;
      padding-left: 20px;
      padding-top: 43px;
      box-sizing: border-box;
      position: relative;
      margin-bottom: 30px;
      &:before {
        content: "";
        position: absolute;
        bottom: 30px;
        left: -1px;
        height: calc(100% - 60px);
        width: 2px;
        background: $grey;
      }
      .history_header {
        font-family: Roboto Medium;
        font-size: 18px;
        margin-bottom: 20px;
      }
      .history_titles {
        margin-bottom: 10px;
        color: $blue1;
        display: flex;
        .hist_dataset, .hist_model {
          width: 150px;
          margin-right: 10px;
        }
      }
      .error_history {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          width: 250px;
          margin-bottom: 30px;
        }
      }
      .rows {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        .row {
          display: flex;
          margin-bottom: 10px;
          position: relative;
          .link {
            color: $dark_blue;
            .row_dataset_name {
              width: 150px;
              margin-right: 10px;
              word-wrap: break-word;
            }
            .row_model_name {
              width: 150px;
              margin-right: 10px;
              word-wrap: break-word;
            }
            .row_model_date {
              width: 90px;
            }
            &:hover {
              color: $blue1;
            }
          }
          .btn_download {
            width: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: none;
            border: none;
            padding: 0;
            margin-left: 10px;
            margin-top: 1px;
            margin-bottom: 1px;
            img {
              height: 19px;
            }
            &.disabled {
              cursor: default;
            }
            &:active:not(.disabled) {
              margin-bottom: 0;
              margin-top: 2px;
            }
          }
          .row_model_name {
            width: 227px;
            margin-right: 10px;
            word-wrap: break-word;
          }
          .row_model_date {
            width: 90px;
          }
          .spinner {
            width: 100%;
            height: 100%;
            //position: absolute;
            //top: -5px;
            //left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            box-sizing: border-box;
            .path {
              stroke: $blue3;
            }
            svg {
              animation: rotate 1.8s linear infinite;
              width: 25px;
              height: 25px;
              .path {
                stroke-linecap: round;
                animation: dash 1.3s ease-in-out infinite;
              }
            }
            @keyframes rotate {
              100% {
                transform: rotate(360deg);
              }
            }
            @keyframes dash {
              0% {
                stroke-dasharray: 1, 150;
                stroke-dashoffset: 0;
              }
              50% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -35;
              }
              100% {
                stroke-dasharray: 90, 150;
                stroke-dashoffset: -124;
              }
            }
          }
        }
      }
    }
  }
  .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.5), -1.8em -1.8em 0 0em rgba(77,155,170, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.5), 1.8em -1.8em 0 0em rgba(77,155,170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.5), 2.5em 0em 0 0em rgba(77,155,170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.5), 1.75em 1.75em 0 0em rgba(77,155,170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.5), 0em 2.5em 0 0em rgba(77,155,170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.5), -1.8em 1.8em 0 0em rgba(77,155,170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.5), -2.6em 0em 0 0em rgba(77,155,170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.5), -1.8em -1.8em 0 0em rgba(77,155,170, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.5), 1.8em -1.8em 0 0em rgba(77,155,170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.5), 2.5em 0em 0 0em rgba(77,155,170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.5), 1.75em 1.75em 0 0em rgba(77,155,170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.5), 0em 2.5em 0 0em rgba(77,155,170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.5), -1.8em 1.8em 0 0em rgba(77,155,170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.5), -2.6em 0em 0 0em rgba(77,155,170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
    }
  }
}
