@import '../../style/variables';
.new_dataset {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 40px;
  .content {
    width: 100%;
    height: 100%;
    color: $dark_blue;
    display: flex;
    flex-direction: column;
    .info {
      display: grid;
      grid-template-columns: minmax(0, 500px) 1fr;
      margin-bottom: 20px;
      .name {
        font-family: Roboto Bold;
        font-size: 20px;
        //max-width: 500px;
        //width: 50%;
        //margin-right: 20px;
        //border: 1px solid blue;
        box-sizing: border-box;
        word-wrap: break-word;
      }
    }
  }
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    .uploading_dataset {
      width: 100%;
      display: flex;
      flex-direction: column;
      .inputs_text {
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
        .checkbox {
          margin-left: 30px;
        }
      }
      .markdowns {
        display: grid;
        grid-template-columns: minmax(500px, 800px);
        .markdown_textarea {
          width: 100%;
          margin-top: 5px;
          margin-bottom: 20px;
          .te-tab {
              display: none;
          }
          .tui-popup-body {
            .te-file-type {
              display: none;
            }
            .te-url-type {
              display: block;
            }
          }
          .tui-editor-contents {
            font-size: 15px; //fix
          }
        }
      }
      .btn_upload {
        display: flex;
        justify-content: flex-end;
        max-width: 800px;
        margin-bottom: 100px;
      }
    }
  }
  .loader {
    margin: 100px auto;
    font-size: 25px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    position: relative;
    text-indent: -9999em;
    -webkit-animation: load5 1.1s infinite ease;
    animation: load5 1.1s infinite ease;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
  }
  @-webkit-keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.5), -1.8em -1.8em 0 0em rgba(77,155,170, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.5), 1.8em -1.8em 0 0em rgba(77,155,170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.5), 2.5em 0em 0 0em rgba(77,155,170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.5), 1.75em 1.75em 0 0em rgba(77,155,170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.5), 0em 2.5em 0 0em rgba(77,155,170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.5), -1.8em 1.8em 0 0em rgba(77,155,170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.5), -2.6em 0em 0 0em rgba(77,155,170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
    }
  }
  @keyframes load5 {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #4d9baa, 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.5), -1.8em -1.8em 0 0em rgba(77,155,170, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.7), 1.8em -1.8em 0 0em #4d9baa, 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.5), 1.8em -1.8em 0 0em rgba(77,155,170, 0.7), 2.5em 0em 0 0em #4d9baa, 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.5), 2.5em 0em 0 0em rgba(77,155,170, 0.7), 1.75em 1.75em 0 0em #4d9baa, 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.5), 1.75em 1.75em 0 0em rgba(77,155,170, 0.7), 0em 2.5em 0 0em #4d9baa, -1.8em 1.8em 0 0em rgba(77,155,170, 0.2), -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.5), 0em 2.5em 0 0em rgba(77,155,170, 0.7), -1.8em 1.8em 0 0em #4d9baa, -2.6em 0em 0 0em rgba(77,155,170, 0.2), -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.5), -1.8em 1.8em 0 0em rgba(77,155,170, 0.7), -2.6em 0em 0 0em #4d9baa, -1.8em -1.8em 0 0em rgba(77,155,170, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(77,155,170, 0.2), 1.8em -1.8em 0 0em rgba(77,155,170, 0.2), 2.5em 0em 0 0em rgba(77,155,170, 0.2), 1.75em 1.75em 0 0em rgba(77,155,170, 0.2), 0em 2.5em 0 0em rgba(77,155,170, 0.2), -1.8em 1.8em 0 0em rgba(77,155,170, 0.5), -2.6em 0em 0 0em rgba(77,155,170, 0.7), -1.8em -1.8em 0 0em #4d9baa;
    }
  }
}
