.main_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
}
.main_page span {
  font-size: 25px;
}
.main_page img {
  width: 300px;
  margin-top: 70px;
}

/*# sourceMappingURL=style.css.map */
