@import '../../style/variables';
.main_page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  margin-left: 250px;
  span {
    font-size: 25px;
  }
  img {
    width: 300px;
    margin-top: 70px;
  }
}
